<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/couchbase"><a class="brand" href="/" style="color: white;">JRuby-Rails-Torquebox-Couchbase</a>
      <div class="btn-group pull-right">
        
      </div>
      <div class="nav-collapse">
        <ul class="nav">
					<li<%= (request.fullpath == "/" ? " class=active" : "") %>><a href="/">Home</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
