<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">						
			<li class="nav-header">JRTC</li>
			<li><a href="/">Test Couchbase</a></li>
			<li><a href="/links">Patterns</a></li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->

